.information {
  margin:  0 50px 50px 50px;
}
.information-inner {
  padding-top: 120px;
}
.photo-info {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-column-gap: 10%;
}

.photo-inform {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-column-gap: 10%;
  margin-bottom: 100px;
}
.photo-description {
margin-bottom: 220px;
}
.photo-description1 {
  margin-bottom: 220px;
  grid-column: 2;
  grid-row: 1;
  }

.info-pic {
  height: auto;
  width: 100%;
  max-width: 600px;
  grid-row: 1;
  grid-column: 2;
  padding-top: 0;
}
.flag-pic {
  height: auto;
  width: 100%;
  max-width: 600px;
  grid-row: 1;
  grid-column: 2;
  padding-top: 0;
  margin-top: 100px;
}
.info-pic__left {
  height: auto;
  width: 100%;
  max-width: 600px;
  grid-column: 1;
  grid-row: 2;
  padding-top: 0;
}
  .info-title {
  font-size: 10vw;
  display: none;
}
.information-title {
  font-size: 10vw;
}
.information-subtitle {
  font-size: 9vw;
  padding-bottom: 0;
}
.info-text {
  font-size: 2.4vw;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
.info-text1 {
  font-size: 2.4vw;
  padding-bottom: 10px;
  letter-spacing: px;
}
.slide-dots{ 
  display: none;
}
.slideshow-container {
  display: none;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.footer {
  border-top: 2px solid rgba(255, 255, 255, 0.122);
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
@media screen and (max-width: 767px) {
  .flag-pic {
   margin-top: 2px;
   margin-bottom: 20px;
  }
  .info-pic__left {
    display: none;
  }
  .photo-inform{
    display: flex;
    margin: 0;
    height: 230px;
  }
  .padding {
    padding-top: 10px;
    display: none;
  }
  .slideshow-container {
    display: block;
  }
  .slide-dots {
    display: none;
  }
  .information {
    margin:  0 20px 50px 20px;
  }
  .photo-info {
    display: flex;
    flex-direction: column;
    height: 540px;
  }
  .information-inner {
    padding-top: 60px;
  }
  .info-title {
    display: block;
    letter-spacing: 1px;
  }
  .information-subtitle {
    font-size: 15vw;
    padding-top: 20px;
    letter-spacing: 1px;
  }
  .information-title {
    display: none;
  }
  .info-pic {
    height: auto;
    width: 100%;
    max-width: 600px;
    padding-bottom: 20px;
    padding-top: 0;
  }
  .info-text {
    font-size: 7vw;
  }
  .info-text1 {
    font-size: 7vw;
  }
  .left-pic {
    display: none;
  }
  .photo-inform {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .photo-inform {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .left-pic {
    display: none;
  }
  .info-title {
    font-size: 20vw;
    display: block;
  }
  .information-title {
    display: none;
  }
  .photo-info {
    display: flex;
    flex-direction: column;
  }
  .info-pic {
    height: auto;
    width: 100%;
    max-width: 1000px;
    padding-bottom: 20px;
    padding-top: 0;
  }
  .info-text {
    font-size: 6vw;
    letter-spacing: 2px;
  }
  .info-text1 {
    font-size: 6vw;
    letter-spacing: 2px;
  }
  .information-subtitle {
    font-size: 15vw;
  }
  .flag-pic {
   margin-top: 0;
   height: auto;
   width: 100%;
   max-width: 1000px;
   padding-bottom: 40px;
  }
}
